

# --- CONFIGURATION BDD MYSQL MARIA DB ---

DB_HOST=DB_HOST
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD



# --- CONFIGURATION MAILTRAP PHPMAILER  ---
MAIL_HOST=MAIL_HOST
MAIL_PORT=MAIL_PORT
MAIL_USER=MAIL_USER
MAIL_PASS=MAIL_PASS
MAIL_FROM=MAIL_FROM
MAIL_FROM_NAME="MAIL_FROM_NAME"